@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header{
    padding: 15px;
    text-align: center;
}

main{
    margin-top: -15px;
    padding: 20px;
	display: flex;
}

h1{
    color: #335C9B;
}

h2{
    color: #233C63;
}

dialog{
    border-radius: 10px;
    border: 3px solid #1e3453;
}
dialog h3{
    color: #233C63;
}

.button-dialog{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.button-dialog button{
    height: 30px;
    width: 160px;
    border-radius: 10px;
    font-size: 15px;
    font-weight:700;
    color: #f7f7f7;
}

.button-dialog #yes-delete{
    border: 3px solid #2E835A;
    background-color: #339B69;
    transition: 0.3s;
}

.button-dialog #no-delete{
    border: 3px solid #832E2E;
    background-color: #C03333;
    transition: 0.3s;
}

.button-dialog #yes-delete:hover{
    border: 3px solid #2E835A;
    background-color: transparent;
    color: #182842;
    transition: 0.3s;
}

.button-dialog #no-delete:hover{
    border: 3px solid #832E2E;
    background-color: transparent;
    color: #182842;
    transition: 0.3s;
}

#toast-dialog{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color:rgb(230, 232, 247);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: fit-content;
  color: #2b2b2b;
  text-align: center;
  border-radius: 7px;
  border-bottom: 5px solid #1f7913;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
}
#toast-dialog i{
    margin-right: 20px;
    font-size: 25px;
    color: #1f7913;
}
#toast-dialog .bi{
    vertical-align: middle;
}
#toast-dialog.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

.content {
    flex: 5;
}

.container{
    width: 580px;
    border-radius: 13px;
    margin: 16px;
    background: transparent;
    border: 4px solid  #2E5083;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}

.container-header{
    margin-top: 3px;
    text-align: center;
}

#input-book{
    margin-top: 40px;
}

#bookSubmit {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 3px solid #2E5083;
    border-radius: 10px;
    background-color: #335C9B;
    font-size: 17px;
    font-weight:600;
    color: #E1E1E1;
    transition: 0.3s;
}

#bookSubmit:hover {

    background-color: transparent;
    color: #182842;
}

.form-group{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 20px;
    font-weight:700;
    color: #233C63;
}
.form-group input{
    font-size: 20px;
    height: 35px;
    color: #233C63;
    background-color:transparent;
    border: 3px solid #2E5083;
    border-radius: 10px;
    padding: 0 5px
}

.checkbox{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #233C63;
}

::-webkit-input-placeholder {
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 510px;
    border-radius: 8px;
    margin: 16px;
    background: transparent;
    border: 3px solid  #2E5083;
    padding: 15px;
    flex-grow: 1;
    height: fit-content;
}

.inner p{
    font-weight: 500;
}

.inner .button{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inner > .button > button{
    height: 30px;
    width: 160px;
    border-radius: 10px;
    font-size: 13px;
    font-weight:700;
    color: #f7f7f7;
}

.inner > .button > .selesai-button,.belumselesai-button{
    border: 3px solid #2E835A;
    background-color: #339B69;
    transition: 0.3s;
}

.inner > .button > .hapus-button{
    border: 3px solid #832E2E;
    background-color: #C03333;
    transition: 0.3s;
}

.inner > .button > .selesai-button:hover{
    border: 3px solid #2E835A;
    background-color: transparent;
    color: #182842;
    transition: 0.3s;
}

.inner > .button > .belumselesai-button:hover{
    border: 3px solid #2E835A;
    background-color: transparent;
    color: #182842;
    transition: 0.3s;
}

.inner > .button > .hapus-button:hover{
    border: 3px solid #832E2E;
    background-color: transparent;
    color: #182842;
    transition: 0.3s;
}

aside{
    flex: 1;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

